#jumbotron-container {
  margin-top: 10%;
}

.row {
  text-align: center;
}

/*
.container {
  margin-top: 10%;
}
*/

.jumbotron {
  color: white;
  text-align: center;
  background: #303030;
  padding-top: 15vh;
  height: 50vh;
}

.home-button {
  color: #303030;
  background-color: white;
  border-color: white;
}

.home-button:hover {
  color: #303030;
  border-color: white;
}
